.header {
  background: #fff;
  color: #fff;
  padding: 1rem;
  box-shadow: 0 5px 15px -5px #c7c7cc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;

  h2 {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 2rem;
    margin-top: 0.8rem;
    background: linear-gradient(45.34deg, #ea52f8 5.66%, #0066ff 94.35%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media screen and (max-width: 520px) {
      font-size: 2rem;
    }
  }

  .icon {
    width: 2.5rem;
    cursor: pointer;
  }
}

.dark {
  background: #2d3748 !important;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  box-shadow: 0 5px 15px -5px #292956;
}
